<!DOCTYPE html>
<html>
<head>
  <title>InteractiveSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
</head>
<body data-no-turbolink="true">
  <div id="page" class="center">
      
      <div id="header" class="center">
        <div id="logo">
          <%= link_to root_path do %>
             <%= image_tag "/images/logo.png" %>
          <% end %>
        </div>
        
        
        
        <div id="buttons-list">
          <ul class="list-inline buttons">
            
            <li class="head-li"><%= link_to "TRAINING", training_path %></li>
            
            <% if user_signed_in? %>
              <li class="head-li"><%= link_to "PROFILE", edit_user_registration_path, :class => 'navbar-link'%></li>
              <li class="head-li"><%= link_to "LOGOUT", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
            <% else %>
              <li class="head-li"><%= link_to "SIGN UP", new_user_registration_path %></li>
              <li class="head-li"><%= link_to "LOGIN", new_user_session_path, :class => 'navbar-link'  %></li>
            <% end %>
          </ul>
          
        </div>


        <div class="alert-div">
            <ul class="notice">
              <% if notice %>
                <li class="alert"><%= notice %></li>
              <% end %>
        
              <% if alert %>
                <li class="alert"><%= alert %></li>
              <% end %>
            </ul>
        </div>
      </div>

      <div id="body">
        <div id="image-banner">
          <div class="banner-name">
            <p>HELLO  <%= current_user.first_name.upcase %></p>
          </div>

          <div class="time-left">
            <p>Time left as a student</p>
          </div>

          <div class="countdown">
            <% start_time = Date.today  %>
            <% @end_time = current_user.sub_expire_date.to_date.to_s %>
                     
            <div id="getting-started"></div>
               <%= javascript_tag do %>

                $("#getting-started")
                 .countdown("<%= @end_time %>", function(event) {
                   $(this).text(
                    event.strftime('%D days %H:%M:%S')
                   );
                });
               <% end %>
            </div>
            
          </div>
          
        </div>

        <div class="edit-user">
          

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <div class="labels1">
                <div class="lab1">NAME</div>
                <div class="lab2">AGE</div>
                <div class="lab3">LOCATION</div>
              </div>
              <div class="row1">
                <div class="field dis">
                  <%= f.text_field :first_name, class: "edit-field1" %>
                </div>

                <div class="field dis">  
                  <%= f.text_field :last_name, class: "edit-field2" %>
                </div>

                <div class="field dis">
                  <%= f.text_field :age, class: "edit-field3" %>
                </div>

                <div class="field dis">
                  <%= f.text_field :location, class: "edit-field4" %>
                </div>
              </div>
              
              <div class="labels1">
                <div class="lab1">EMAIL</div>
                <div class="lab2"></div>
                <div class="lab3b">FAVORITE COLOR</div>
              </div>
              
              <div class="row1">
                <div class="field dis">
                  <%= f.email_field :email, class: "edit-field1b" %>
                </div>

                <div class="field dis">
                  <%= f.text_field :fav_color, class: "edit-field4b" %>
                </div>
              </div>

              <div class="labels1">
                <div class="lab4">PASSWORD <span class="infer">(leave blank if you don't want to change)</span></div>
                <div class="lab5">PASSWORD CONFIRMATION</div>
                <div class="lab6">CURRENT PASSWORD</div>
              </div>
              
             
              <div class="row1">
                <div class="field dis">
                  <%= f.password_field :password, autocomplete: "off", class: "edit-field1c"%>
                </div>

                <div class="field dis">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "edit-field5" %>
                </div>

                <div class="field dis">
                  <%= f.password_field :current_password, autocomplete: "off", class: "edit-field4c" %>
                </div>
              </div>
              

              <div class="actions">
                <%= f.submit "Update", class: "submit-it" %>
              </div>
            <% end %>

            


      </div>
      
      <div class="footer">
        <div id="facebook">
          <a href="#"> <img src="/images/facebook.png"/> </a>
        </div>
      </div>
    </div>
</div>
<div class="block_land">
          <img src="/images/block_land.png"/>
        </div>